[package]
name = "dis-rs"
version = "0.12.0"
description = """
An implementation of the Distributed Interactive Simulation protocol in Rust.

This main crate contains PDU implementations and facilities to read/write PDUs
from Rust data structures to the wire format and vice versa.
"""
readme = "README.md"
keywords = ["simulation", "DIS"]
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
categories.workspace = true

[[bin]]
name = "allocations"
test = false
bench = false

[features]
serde = ["dep:serde"]
pcap-file = ["dep:pcap-file"]
hotpath = ["dep:hotpath", "hotpath/hotpath"]
hotpath-alloc-bytes-total = ["hotpath/hotpath-alloc-bytes-total"]
hotpath-alloc-bytes-max = ["hotpath/hotpath-alloc-bytes-max"]
hotpath-alloc-count-total = ["hotpath/hotpath-alloc-count-total"]
hotpath-alloc-count-max = ["hotpath/hotpath-alloc-count-max"]
hotpath-off = ["hotpath/hotpath-off"]

[dependencies]
bytes = "1.10.1"
nom = "8.0.0"
thiserror = "2.0"
serde = { version = "1.0.228", features = ["derive"], optional = true }
hotpath = { version = "0.2.10", optional = true }
pcap-file = { version = "2.0.0", optional = true }

[build-dependencies]
quote = "1.0.41"
quick-xml = "0.38.3"
proc-macro2 = "1.0.101"
prettyplease = "0.2.37"
syn = "2.0.106"

[lints]
workspace = true
