<div class="stat w-full">
    <div class="badge badge-neutral badge-lg text-center">{{ name }}</div>
    <div class="flex flex-nowrap justify-between w-full">
        <div>
            <div class="stat-value">{{ stats.received_count }}</div>
            <div class="stat-desc">PDUs encoded</div>
        </div>
        <div>
            <div class="stat-value">{{ stats.rejected_count }}</div>
            <div class="stat-desc">PDUs rejected</div>
        </div>
        <div>
            <div class="stat-value">{{ stats.compression_rate_total }} %</div>
            <div class="stat-desc">Compression rate</div>
        </div>
    </div>
    <hr class="h-2"/>
    <div class="grid grid-cols-7 grid-rows-2 w-full">
        <div class="tooltip text-left" data-tip="Entity State">
            <div class="stat-value text-sm">{{ stats.es_count }}</div>
            <div class="stat-desc">ES</div>
        </div>
        <div class="tooltip text-left" data-tip="Fire">
            <div class="stat-value text-sm">{{ stats.fire_count }}</div>
            <div class="stat-desc">Fire</div>
        </div>
        <div class="tooltip text-left" data-tip="Detonation">
            <div class="stat-value text-sm">{{ stats.detonation_count }}</div>
            <div class="stat-desc">Det</div>
        </div>
        <div class="tooltip text-left" data-tip="Collision">
            <div class="stat-value text-sm">{{ stats.collision_count }}</div>
            <div class="stat-desc">Coll</div>
        </div>
        <div class="tooltip text-left" data-tip="Create Entity">
            <div class="stat-value text-sm">{{ stats.create_entity_count }}</div>
            <div class="stat-desc">Cr Ent</div>
        </div>
        <div class="tooltip text-left" data-tip="Remove Entity">
            <div class="stat-value text-sm">{{ stats.remove_entity_count }}</div>
            <div class="stat-desc">Rem Ent</div>
        </div>
        <div class="tooltip text-left" data-tip="Start / Resume">
            <div class="stat-value text-sm">{{ stats.start_resume_count }}</div>
            <div class="stat-desc">Start/Res</div>
        </div>
        <div class="tooltip text-left" data-tip="Stop / Freeze">
            <div class="stat-value text-sm">{{ stats.stop_freeze_count }}</div>
            <div class="stat-desc">Stop/Fr</div>
        </div>
        <div class="tooltip text-left" data-tip="Acknowledge">
            <div class="stat-value text-sm">{{ stats.acknowledge_count }}</div>
            <div class="stat-desc">Ack</div>
        </div>
        <div class="tooltip text-left" data-tip="Action Request">
            <div class="stat-value text-sm">{{ stats.action_request_count }}</div>
            <div class="stat-desc">Act Req</div>
        </div>
        <div class="tooltip text-left" data-tip="Action Response">
            <div class="stat-value text-sm">{{ stats.action_response_count }}</div>
            <div class="stat-desc">Act Resp</div>
        </div>
        <div class="tooltip text-left" data-tip="Data Query">
            <div class="stat-value text-sm">{{ stats.data_query_count }}</div>
            <div class="stat-desc">Data Q</div>
        </div>
        <div class="tooltip text-left" data-tip="Set Data">
            <div class="stat-value text-sm">{{ stats.set_data_count }}</div>
            <div class="stat-desc">Set Data</div>
        </div>
        <div class="tooltip text-left" data-tip="Data">
            <div class="stat-value text-sm">{{ stats.data_count }}</div>
            <div class="stat-desc">Data</div>
        </div>
        <div class="tooltip text-left" data-tip="Event Report">
            <div class="stat-value text-sm">{{ stats.event_report_count }}</div>
            <div class="stat-desc">Evt Rep</div>
        </div>
        <div class="tooltip text-left" data-tip="Comment">
            <div class="stat-value text-sm">{{ stats.comment_count }}</div>
            <div class="stat-desc">Comment</div>
        </div>
        <div class="tooltip text-left" data-tip="Electromagnetic Emission">
            <div class="stat-value text-sm">{{ stats.ee_count }}</div>
            <div class="stat-desc">EE</div>
        </div>
        <div class="tooltip text-left" data-tip="Designator">
            <div class="stat-value text-sm">{{ stats.designator_count }}</div>
            <div class="stat-desc">Desig</div>
        </div>
        <div class="tooltip text-left" data-tip="Transmitter">
            <div class="stat-value text-sm">{{ stats.transmitter_count }}</div>
            <div class="stat-desc">Tx</div>
        </div>
        <div class="tooltip text-left" data-tip="Signal">
            <div class="stat-value text-sm">{{ stats.signal_count }}</div>
            <div class="stat-desc">Sig</div>
        </div>
        <div class="tooltip text-left" data-tip="Receiver">
            <div class="stat-value text-sm">{{ stats.receiver_count }}</div>
            <div class="stat-desc">Rx</div>
        </div>
        <div class="tooltip text-left" data-tip="Identification Friend or Foe">
            <div class="stat-value text-sm"><span class="text-primary-content/30">0</span></div>
            <div class="stat-desc">IFF</div>
        </div>
        <div class="tooltip text-left" data-tip="Unimplemented">
            <div class="stat-value text-sm">{{ stats.unimplemented_count }}</div>
            <div class="stat-desc">Unimpl</div>
        </div>
    </div>
<!--    <div class="flex flex-wrap justify-start content-stretch">-->
<!--        <div>-->
<!--            <div class="stat-value text-sm">{{ stats.es_count }}</div>-->
<!--            <div class="stat-desc">ES</div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="stat-value text-sm">{{ stats.unimplemented_count }}</div>-->
<!--            <div class="stat-desc">Unimplemented</div>-->
<!--        </div>-->
<!--    </div>-->
</div>